.container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  border-bottom: 0.1rem solid #eee;
  padding-bottom: 2.5rem;
}

.iconHeart {
  color: #e01212;
  font-size: 2.4rem;
  animation: heartBeats 500ms linear infinite alternate;
  transform-origin: center;
}
.iconJs {
  color: #e8c81e;
  font-size: 2.4rem;
  margin-left: 2px;
}

.contentImg {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: -webkit-transform 600ms ease-in;
  transition: transform 600ms ease-in;
  transition: transform 600ms ease-in, -webkit-transform 600ms ease-in;
}

.contentImg:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.title {
  margin-top: 2rem;
  font-weight: 900;
  letter-spacing: -2px;
  font-size: 4.8rem;
  color: #333;
}

.subtitle {
  margin-top: 2rem;
  letter-spacing: 0.4rem;
}

.text {
  margin-top: 1.5rem;
  letter-spacing: 0.2rem;
}

@media (max-width: 30em) {
  .container {
    margin-top: 2rem;
  }
  .title {
    font-size: 3.2rem;
  }
  .subtitle {
    font-size: 1.6rem;
  }
}

@keyframes heartBeats {
  to {
    transform: scale(1.1);
  }
}
