---
import avatarImg from '../images/avatar.jpeg'
import tsIcon from '../images/typescript.svg'
---

<section class="container">
	<header class="header">
		<img
			class="content-img"
			src={avatarImg.src}
			alt="My avatar picture"
			loading="eager"
			decoding="async"
		/>
		<h1 class="title">Guilherme Scaldelai</h1>
		<h2 class="sub-title">Software Engineer @TomTom</h2>
		<h3 class="text">
			In <i class="fas fa-heart icon-heart"></i> with
			<i class="fab fa-js icon-js"></i>
			<img
				src={tsIcon.src}
				alt="Typescript icon"
				width={22}
				height={22}
				loading="eager"
				decoding="async"
			/>
			<i class="fab fa-rust icon-rust"></i>
		</h3>
	</header>

	<style>
		.container {
			display: flex;
			justify-content: center;
			margin-top: 4rem;
		}

		.header {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 4rem 0;
			border-bottom: 0.1rem solid #eee;
			padding-bottom: 2.5rem;
		}

		.icon-heart {
			color: #e01212;
			font-size: 2.4rem;
			animation: heartBeats 500ms linear infinite alternate;
			transform-origin: center;
		}
		.icon-js {
			color: #e8c81e;
			font-size: 2.4rem;
			margin-left: 2px;
		}
		.icon-rust {
			color: var(--color-black);
      padding-top: 3.5px;
		}

		.content-img {
			height: 10rem;
			width: 10rem;
			border-radius: 50%;
			-webkit-filter: grayscale(80%);
			filter: grayscale(80%);
			transition: -webkit-transform 600ms ease-in;
			transition: transform 600ms ease-in;
			transition:
				transform 600ms ease-in,
				-webkit-transform 600ms ease-in;
		}

		.content-img:hover {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}

		.title {
			margin-top: 2rem;
			font-weight: 900;
			letter-spacing: -2px;
			font-size: 4.8rem;
			color: #333;
		}

		.sub-title {
			margin-top: 2rem;
			letter-spacing: 0.4rem;
		}

		.text {
			margin-top: 1.5rem;
			letter-spacing: 0.2rem;
			display: flex;
			align-items: center;
		}

		.text > * {
			margin: 0 0.3rem;
		}

		@media (max-width: 30em) {
			.container {
				margin-top: 2rem;
			}
			.title {
				font-size: 3.2rem;
			}
			.sub-title {
				font-size: 1.6rem;
			}
		}

		@keyframes heartBeats {
			to {
				transform: scale(1.1);
			}
		}
	</style>
</section>
