.postList li + li {
    padding-top: 2rem;
    border-top: 1px solid #eee;
}

.list {
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 2rem;
}    

.dates {
    position: relative;
    float: right;
    top: 1px;
    color: #aaa;
    font-size: 1.3rem;
    font-weight: 100;
}