* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  color: #666;
  font-size: 1.6rem;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1;
}

a {
  color: #5badf0;
  transition: color 300ms;
  text-decoration: none;
}
@media (max-width: 30em) {
  a {
    margin-bottom: 2rem;
  }
}
a:hover,
a:active {
  color: #f24976;
}

h2,
h3 {
  color: #aaa;
  font-weight: 300;
  font-size: 2.08rem;
}

a {
  color: #5badf0;
  transition: color 300ms;
  text-decoration: none;
}
a:hover,
a:active {
  color: #f24976;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 2rem 0;
}
@media (max-width: 30em) {
  .main-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-nav a {
  padding: 0.8rem 1.2rem;
}
.main-nav a:hover,
.main-nav a:active {
  color: #666;
}
.main-nav .cta {
  position: relative;
  color: #fff;
  transition: all 0.3s ease;
}
.main-nav .cta:after {
  content: '';
  background-color: #e8c81f;
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  transition: all 0.2s ease;
}
.main-nav .cta:hover:after {
  -webkit-transform: rotate(0) scale(1.2);
  transform: rotate(0) scale(1.2);
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 30em) {
  .footer__text {
    font-size: 1.28rem;
  }
}
@media (max-width: 23.43em) {
  .footer * {
    font-size: 0.96rem;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: center;
  width: 50rem;
  border-top: 1px solid #eee;
  padding: 4rem 4rem;
  align-self: center;
}
@media (max-width: 30em) {
  .footer__wrapper {
    width: 80%;
  }
}
.footer__icons-copyright {
  font-size: 1.1rem;
  align-self: flex-end;
  margin: 0 10px 20px;
}
@media (max-width: 30em) {
  .footer__icons-copyright {
    align-self: center;
    margin: 1rem;
  }
}

.section-profile {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
@media (max-width: 30em) {
  .section-profile {
    margin-top: 2rem;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  border-bottom: 0.1rem solid #eee;
  padding-bottom: 2.5rem;
}
.profile__avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: -webkit-transform 600ms ease-in;
  transition: transform 600ms ease-in;
  transition: transform 600ms ease-in, -webkit-transform 600ms ease-in;
}
.profile__avatar:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.profile__title {
  font-weight: 900;
  letter-spacing: -2px;
  font-size: 4.8rem;
  color: #333;
}
@media (max-width: 30em) {
  .profile__title {
    font-size: 3.2rem;
  }
}
.profile__subtitle {
  margin-top: 2rem;
  letter-spacing: 0.4rem;
}
@media (max-width: 30em) {
  .profile__subtitle {
    font-size: 1.6rem;
  }
}
.profile__text {
  margin-top: 1.5rem;
  letter-spacing: 0.2rem;
}
.profile__icon--heart {
  color: #e01212;
  font-size: 2.4rem;
  -webkit-animation: heart-beat 500ms linear infinite alternate;
  animation: heart-beat 500ms linear infinite alternate;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.profile__icon--js {
  color: #e8c81e;
  font-size: 2.4rem;
}

@-webkit-keyframes heart-beat {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes heart-beat {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.section-about {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  padding: 0 4rem 2rem;
  justify-content: flex-start;
  max-width: 66rem;
  flex-wrap: wrap;
}
@media (max-width: 30em) {
  .list {
    padding: 0 2rem 2rem;
  }
}
.list__item {
  display: flex;
  list-style: none;
  flex-grow: 1;
}
@media (max-width: 30em) {
  .list__item {
    flex-wrap: wrap;
    display: flex;
  }
}
.list__details {
  padding: 0 2.5rem 4rem;
  flex-grow: 1;
}
.list__details__title {
  margin-bottom: 2rem;
  color: #333;
  font-weight: 400;
}
@media (max-width: 30em) {
  .list__details__title {
    text-align: center;
  }
}
.list__details__text {
  line-height: 1.7;
  max-width: 50rem;
}
.list__header > img {
  height: 7rem;
  width: 7rem;
}
@media (max-width: 30em) {
  .list__header {
    margin: 1rem auto;
  }
}

.list__tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.list__tech__item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
}
.list__tech__item::before {
  content: '';
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.7rem;
  background-image: url(./icons/chevron-thin-right.svg);
  background-size: cover;
}
@supports ((-webkit-mask-image: url()) or (mask-image: url())) {
  .list__tech__item::before {
    background-color: #f24976;
    -webkit-mask-image: url(./icons/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(./icons/chevron-thin-right.svg);
    mask-size: cover;
    background-image: none;
  }
}
